{{ if .HasShortcode "plugin-gallery" -}}

  {{- /* Resolve the plugin parameter values. */ -}}
  {{- if not (.Scratch.Get "plugin-gallery.Parameters") -}}
    {{- partial "plugin-gallery/load-parameters.html" . -}}
  {{- end -}}
  
  {{- with (.Scratch.Get "plugin-gallery.Parameters") -}}
  
    {{- if .Config.DebugPrint -}}
      {{- printf "\n<!--\nplugin-gallery.Parameters:\n%s\n-->" (jsonify .) | safeHTML -}}
    {{- end -}}
  
    {{- /* Insert the plugin version and build time */ -}}
    {{- $time := (time (sub now.Unix 28800)).Format "Jan 2 at 15:04" -}}
    {{- $version := .Config.Version -}}
    {{ printf "\n<!-- gallery v%s (built on %s) -->\n" $version $time | safeHTML }}
    
    {{- $source_dir := "sass/plugin-gallery/" -}}
    {{- $template_name := "gallery.scss" -}}
    {{- $source := path.Join $source_dir $template_name -}}
    {{- $target := path.Join "assets" $source -}}
    {{- $style := resources.Get $source | resources.ExecuteAsTemplate $target $ -}} 
  
    {{- $target = $target | replaceRE "sass|scss" "css" -}}
    {{- $options := dict "targetPath" $target  "outputStyle" .Config.SassOutput -}}
    {{- $style = $style | toCSS $options -}}
  
    {{- if .Config.Fingerprint }}{{ $style = $style | fingerprint }}{{ end -}}
  
    {{- print "\n" -}}
<link rel="stylesheet" href="{{ $style.Permalink }}"
{{- if .Config.Fingerprint }} integrity="{{ $style.Data.Integrity }}"{{ end -}}
>
  
  {{- end -}}

{{- end }}