{{ define "main" -}}

  {{- if not (.Scratch.Get "plugin-gallery.Parameters") -}}
    {{- partial "plugin-gallery/load-parameters.html" . -}}
  {{- end -}}
  
  {{- with .Scratch.Get "plugin-gallery.Parameters" -}}
  
    {{ if .Gallery.Header -}}
<h1 id="{{ .Style.HeaderID }}">{{ .Gallery.Header | chomp | markdownify }}</h1>
    {{- end }}
   
    {{ if .Gallery.Description -}}
<div id="{{ .Style.DescriptionID }}">{{ .Gallery.Description | chomp | markdownify }}</div>
    {{- end }}

    {{- $Parameters := dict 
      "Gallery" .Gallery.Name
      "Slides" .Assets.Slides
      "Wrap" .Gallery.Wrap
      "PhotoWidth" .Gallery.PhotoWidth
      "DescPosition" .Gallery.DescPosition
      "Effect" .Gallery.Effect
      "Zoomable" .Gallery.Zoomable
      "Draggable" .Gallery.Draggable
      "Loop" .Gallery.Loop
      "Autoplay" .Gallery.Autoplay
      "Preload" .Gallery.Preload
      "Width" .Gallery.Width
      "Height" .Gallery.Height
      "GalleryStyle" ";"
      "LinkStyle" ";"
      "ImgStyle" ";"
      "VideoStyle" ";"
      -}}
    
    {{- if templates.Exists (path.Join "partials" 
                                       .Config.GalleryPartial) -}}
      {{ partial .Config.GalleryPartial $Parameters }}
    {{- end -}}
    
  {{- end -}} {{/* with .Scratch.Get "plugin-gallery.Parameters" */}}

{{- end }} {{/* define "main" */}}