{{ define "main" -}}

  {{- if not (.Scratch.Get "plugin-gallery.Parameters") -}}
    {{- partial "plugin-gallery/load-parameters.html" . -}}
  {{- end -}}
  
  {{- with .Scratch.Get "plugin-gallery.Parameters" -}}
   
    {{ if .Gallery.Description -}}
<div id="{{ .Style.DescriptionID }}">{{ .Gallery.Description | markdownify }}</div>
    {{- end }}

    {{- $Parameters := dict 
      "gallery" .Gallery.Name
      "slide_data" .Assets.Slides
      "wrap" .Gallery.Wrap
      "photo_width" .Gallery.PhotoWidth
      "desc_position" .Gallery.DescPosition
      "effect" .Gallery.Effect
      "zoomable" .Gallery.Zoomable
      "draggable" .Gallery.Draggable
      "loop" .Gallery.Loop
      "autoplay" .Gallery.Autoplay
      "preload" .Gallery.Preload
      "width" .Gallery.Width
      "height" .Gallery.Height
      -}}
    
    {{- if templates.Exists "partials/gallery.html" -}}
      {{ partial "gallery.html" $Parameters }}
    {{- end -}}
    
  {{- end -}} {{/* with .Scratch.Get "plugin-gallery.Parameters" */}}

{{- end }} {{/* define "main" */}}