@import "vendor/rfs";

// Template for injecting rfs include directives into a Sass block.
{{ define "rfs-wrap" }}

  //Generate a slice with all the property names.
  {{ $edges := slice "top" "right" "bottom" "left" }}
  {{ $properties := 
    slice "font-size" "padding" "margin"
    | append (apply $edges "printf" "padding-%s" ".") 
    | append (apply $edges "printf" "margin-%s" ".") }}

  //Convert the slice for use within the regular expression.
  {{ $properties = delimit $properties "|" }}

  // Create the regular expression
  {{ $pattern := printf `(%s):\w*([^;]+)`  }}

  // Replace matches with the appropriate rfs include.
  {{ replaceRE $pattern `@include $1($2)` . }}

{{ end }}

{{ with .Scratch.Get "plugin-gallery.Parameters" }}

#{{ .Style.HeaderID }} {
  {{ with .Style.Header }}{{ template "rfs-wrap" . }}{{ end }}
}
#{{ .Style.DescriptionID }} {
  {{ with .Style.Description }}{{ template "rfs-wrap" . }}{{ end }}
}

#{{ .Style.DescriptionID }} + div {
  @include padding-top(2rem);
  {{ with .Style.Gallery }}{{ template "rfs-wrap" . }}{{ end }}
  
  a {
    height: 20vh;
    width: 20%;
    flex-grow: 1;
    {{ with .Style.Link }}{{ template "rfs-wrap" . }}{{ end }}
  }
  
  img {
    max-height:100%;
    min-height: 100%;
    min-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
    {{ with .Style.Img }}{{ template "rfs-wrap" . }}{{ end }}
  }
  
  video {
    margin-top: 0; 
    max-height: 100%; 
    min-height: 100%; 
    min-width: 100%; 
    object-fit: cover; 
    vertical-align: bottom;
    {{ with .Style.Video }}{{ template "rfs-wrap" . }}{{ end }}
  }
}

{{ end }}